<style>
  img {
    min-width: 100px;
    max-width: 100%;
    max-height: 70vh;
  }
</style>
<template>
  <v-container grid-list-md text-xs-center>
    <v-layout row wrap>
      <v-flex lg5>
        <v-card dark :img="backgroundImage">
          <img :src="customerImage" />
        </v-card>
      </v-flex>
      <v-flex lg5>
        <h3>{{ question.prompt }}</h3>
        <v-form>
          <v-radio-group @change='change' v-model='response' v-for="c in question.choices">
              <v-radio :label="c.label" :value="c.label" ></v-radio>
          </v-radio-group>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  var img = (file) => '/static/img/' + file
  export default {
    props: [ 'question' ],
    computed: {
      customerImage: {
        get: function () {
          if (this.response == null) {
            return img(this.question.promptImage)
          } else if (this.response === this.question.answer) {
            return img(this.question.validImage)
          } else {
            return img(this.question.invalidImage)
          }
        }
      },
      backgroundImage: function () { return img(this.question.backgroundImage) },
      response: {
        cache: false,
        get: function () {
          return this.$store.state[this.question.id]
        },
        set: function (newVal) {
          this.response = newVal
          // console.log(newVal, this.$store.state[this.question.id])
          // this.$store.commit('respond', {
          //   id: this.question.id,
          //   val: newVal
          // })
          // console.log(this.response)
        }
      }
    },
    data: function () {
      return {
        response: null
      }
    },
    methods: {
      // respond (e) {
      //   this.$state.commit('respond', e.target.value)
      // },
      change (e) {
        this.$store.commit('respond', {
          id: this.question.id,
          val: this.response
        })

        // this.customerImage = img(this.question.invalidImage)
      },
      clear () {
        this.$refs.form.reset()
      }
    }
  }
</script>
