<template>
  <v-container fluid>
        <v-pagination :length="2" v-model="page"></v-pagination>
        <MultipleChoice
        :question="questions[page-1]"
        />
  </v-container>
</template>

<script>
import MultipleChoice from './MultipleChoice'
import content from '@/assets/content.json'

export default {
  components: {MultipleChoice},
  data: function () {
    // console.log(content)
    return {
      questions: content.part1.questions,
      page: 1
    }
  }
}
</script>