<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-card img='/static/img/bg_checkout_blurred.jpg'>
          <img src='/static/img/mod1_cart.png'/>
        </v-card>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<style scoped>
  img {
    mix-blend-mode: darken;
    max-width: 150vw;
    max-height: 100vh;
  }
</style>
