<template>
  <!-- <v-app> -->
  <v-layout justify-space-around>
    <v-icon :color='color'>{{icon}}</v-icon>
  </v-layout>
  <!-- </v-app> -->
</template>

<script>
const statusIcons = {
  notStarted: 'mdi-circle-outline',
  started: 'mdi-pencil-circle',
  complete: 'mdi-checkbox-marked-circle'
}

const statusColors = {
  notStarted: 'blue darken-1',
  started: 'amber darken-3',
  complete: 'green darken-2'
}

export default {
  name: 'StatusIndicator',
  props: {
    status: {
      type: String,
      default: 'notStarted',
      validator: function (s) {
        return ['started', 'notStarted', 'complete'].includes(s)
      }
    }
  },
  data: function () {
    return {
      icon: statusIcons[this.status],
      color: statusColors[this.status]
    }
  }
}
</script>